/*
CORES: #004AAD
       #1A9047
       #2BC866
*/
body
{
    background-color: #004AAD;
}

nav
{
    height: 50px;
    background-color: #1A9047;
}

.botao_nav
{
    background-color: #004AAD;
    color: white;
    
}